html {
    height: 100%;
    font-family: 'Montserrat';

    display: grid;
    justify-items: center;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
    --lines:#808080
}

html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
    --lines: #808080
}
*{
    color: var(--color-text);
}
body {
    margin: 0;
    background-color: var(--bg);
}

ul {
    list-style: none;
}

h2{
    margin: 0;
}

.container {
    background-color: var(--bg-panel);
    border-radius: 15px;
    margin: 2em 5em 0 5em;
    padding: 2em;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "lang toggle"
        "main sidebar"
    ;
    justify-items: center;
    align-items: center;
}
.lang {
    grid-area: lang;   
}
.lang-list{
    display: inline-flex;
}
.lang-list-item{
    font-size: 1.3em;
    margin-left:0.5em;
    margin-right:0.5em;
    margin-top: 0;
    cursor: pointer;
}

.toggle{
    grid-area: toggle;
    justify-self: end;
}
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header"
        "profile"
        "experience"
        "education"
    ;
    border-right: 1px solid var(--lines);
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 60%;
    grid-template-rows: auto;
    grid-template-areas: 
        "pic header-info"
    ;
    align-items: center;
    justify-items: center;
    
}

.pic {
    grid-area: pic;
    justify-self: end;
}
.header-info {
    grid-area: header-info;
    align-content: flex-start;
    justify-self: start;
    margin-left: 3em;
}
.title{
    font-size: 3em;
}
.title-role{
    font-size: 1.5em;
}

.content {
    margin: 1.5em 3em 0em 1.5em;
}
.profile {
    grid-area: profile;
}

.list {
    border-left: 1px solid var(--lines);
}

.date {
    font-size: 0.9em;
    margin-top: 0.2em;
}
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "contact"
        "lang"
        "tech"
    ;
    padding-left: 1.5em;
}

.contact {
    grid-area: contact;
}
.sidebar-item{
    font-size: 1.2em;
    margin-bottom: 0.2em;
}
.sidebar-list{
    list-style-type: circle;
}

// toggle
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label[for=switch] {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

label[for=switch]:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
}

input[type=checkbox]:checked + label[for=switch] {
	background: var(--color-headings);
}

input[type=checkbox]:checked + label[for=switch]:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}


input[type=radio] {
    display:none;   
}
input[type=radio]:checked + label {
    border-bottom: solid 2px var(--color-headings);
}
